<p>
    


</p>


# Trial Report
Pears plantation, Spain, 2019-2022

## Introduction

Trial in Spain, follwing the tree development in a pear orchard. Some trees were treated with a special new product (code-named here as "NH"), others treated with a common product ("control"). 
The orchard was planted in 2019, we measured the tree trunks in 2022, using it as an accepted proxy for tree development and health.

In [104]:
%%html
<style> table {float:left} </style>

### Information about the trial

| | |
|-|-|
| Campaign | 2019-2023 |
| Crop | Pears |
| Variety | Ercolini (ER), Carmen (CA), Limonera (LI) |
| Planting date | March 2019 |
| Trunk measurements date | Fall 2022 |
| Total area | 9 ha |
|  |  |
|  |  |
| Treatment | Application rate |
| NH | 2 ton/ha |
| Control | 2 ton/ha |

### Pictures

<table style="margin-left: 0; margin-right: auto;">
    <tr>
        <td style="text-align: center; vertical-align: middle;" > Application 2019 </td>
        <td style="text-align: center; vertical-align: middle;" > Trunk measurement </td>
    </tr>    
    <tr>
        <td> <img src="Application-2019.jpg" width="250"/> </td>
        <td> <img src="Example_measurement.jpg" width="450" /> </td>
    </tr>
</table>

<table  style="margin-left: 0; margin-right: auto;">
    <tr>
        <td style="text-align: center; vertical-align: middle;"> View of the orchard </td>
        <td style="text-align: center; vertical-align: middle;"> Orchard map </td>
    </tr>    
    <tr>
        <td> <img src="Orchard.jpg" width="600" /> </td>
        <td> <img src="Orchard_map.jpg" width="300" /> </td>
    </tr>
</table>

## Analysis

### Housekeeping

In [1]:
# Import libraries and define functions that we will use

import pandas as pd
from scipy.stats import ttest_ind
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# serialize a dataframe
def serialize(I_df):
    O_series = []
    I_df_l = I_df.values.tolist() # convert the I_df into a list
    for j in range(len(I_df_l)):
        for i in range(len(I_df_l[j])):
            element = I_df_l[j][i]
            if str(element) != "nan": # ensure the data is clean
                O_series.append(I_df_l[j][i])
    return(pd.Series(O_series))

### Upload and check the data

In [3]:
# Read the CSV file with the data

data_file = 'Trunk_perimeter_Data_2022.csv'
path=os.path.join(os.getcwd(),data_file)
df_raw = pd.read_csv(path)
df_raw.head(2)

,Area,Tree line number,Variety,Plot,Treatment,1,2,3,4,5,...,18,19,20,21,22,23,24,25,26,27
0,D,39,ER,N2,N,12.4,12.6,15.0,10.8,13.0,...,12.8,15.2,15.7,12.1,11.0,11.2,15.0,13.4,8.4,15.0
1,D,40,ER,N1,N,11.0,11.2,11.3,13.4,14.1,...,15.5,9.0,15.2,12.4,15.7,14.0,11.2,15.5,11.4,13.2

### Compare NH treatment and control across different pear varieties

In [4]:
list_var = ['ER','CA','LI']
dict_var = {'ER':'Ercolini','CA':'Carmen', 'LI':'Limonera'}

In [5]:
header = ['Parameter']
a21 = 'Average'
a31 = 'Standard error'
a41 = 'Difference (absolute)'
a51 = 'Difference (%)'
a61 = 'p-value t-test'
result = pd.DataFrame([[''],[a21],[a31],[a41],[a51],[a61]], columns = header)

for value_var in list_var:
    # Filter variety
    df_1 = df_raw.query("Variety == @value_var")

    # prepare a NOVIHUM and control tables
    df_1_N = df_1.query("Treatment == 'N'")
    df_1_C = df_1.query("Treatment == 'T'")
    # slice the tables to contain only the measurements
    df_1_N = df_1_N.iloc[:,5:]
    df_1_C = df_1_C.iloc[:,5:]
    # make the dfs into series and get stats
    df_1_N_s = serialize(df_1_N)
    df_1_C_s = serialize(df_1_C)
    
    header = ['  NH  ', '  C  ', ' '] # treatments "NH" and control "C"
    a12 = dict_var[value_var]
    a13 = ''
    a22 = round(np.average(df_1_N_s),2)
    a23 = round(np.average(df_1_C_s),2)
    a32 = round(np.std(df_1_N_s)/np.sqrt(len(df_1_N_s)),2)
    a33 = round(np.std(df_1_N_s)/np.sqrt(len(df_1_C_s)),2)
    a42 = round(a22-a23,2)
    a43 = ''
    a52 = round(100*((a22/a23)-1),2)
    a53 = ''   
    a62 = round(ttest_ind(df_1_N_s, df_1_C_s).pvalue,10)
    a63 = ''
    aux = pd.DataFrame([[a12,a13,' '],[a22,a23,' '],[a32,a33,' '],[a42,a43,' '],[a52,a53,' '],[a62,a63,' ']], columns = header)
    result = pd.concat([result,aux],axis=1)

In [6]:
result

,Parameter,NH,C,,NH,C,,NH,C,
0,,Ercolini,,,Carmen,,,Limonera,,
1,Average,14.82,13.61,,15.87,15.57,,9.34,9.17,
2,Standard error,0.19,0.19,,0.17,0.17,,0.11,0.11,
3,Difference (absolute),1.21,,,0.3,,,0.17,,
4,Difference (%),8.89,,,1.93,,,1.85,,
5,p-value t-test,0.000038,,,0.247573,,,0.222082,,